body {background: radial-gradient(69.05% 69.05% at 50% 51.98%, rgba(255, 0, 0, 0.20) 0%, rgba(0, 0, 255, 0.20) 100%);
}
#gg{
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 20px;
    
}
#gg:hover{
    background-color: red;
    border-color: red;
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
   
}
   
